<html>

<form action="/partida">
Nombre que se le da a las iteraciones en Scrum
<!--input type="submit" name="ver_pregunta" id="ver_pregunta"-->
<input type="hidden" value= " <%= @@respuesta %> " />
<!--input type="submit" name="ver_pregunta" id="ver_pregunta"-->
</form>


<%= @@guiones %>

</html>
